/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

a{
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}

.btn-blue{
    background-color: #0061ff;
    padding: 7px 20px;
}

.btn-white{
    background-color: white;
    padding: 7px 20px;
}

.container-type2{
    width: 70%;
    margin: auto;
}

ul{
    list-style-type: none;
}

/* HEADER */
header{
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.logo-function{
    width: 50%;
}

.btn-function{
    width: 50%;
    text-align: right;
}

.col a{
    color: black;
}

.logo-function *, .btn-function *{
    vertical-align: middle;
    margin: 0 20px;
}

.logo-function a:hover, .btn-function a:hover{
    border-bottom: 2px solid black;
}

.btn-function a:last-child{
    display: inline;
    color: white;
    border: none;
}

/* MAIN */
main{
    margin-top: 80px;
}

.container{
    background-color: #b4d0e7;
    height: 720px;
}

/* BANNER */
.banner{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    font-weight: 600;
}

.banner-title{
    font-size: 42px;
}

.paragraph-btn{
    width: 30%;
}

.banner-image{
    width: 60%;
    margin: 30px;
}

.paragraph-btn > *{
    margin: 30px 0;
}

.paragraph-btn > span{
    font-size: 50px;
}

.free-trial a{
    color: white;
}

.free-trial span{
    display: block;
    margin: 10px 0;
}

.banner-image img{
    width: 100%;
}

/* SUBSCRIPTION TYPE SECTION */
section{
    margin: 200px 0;
}

.section-title1 h2{
    font-size: 50px;
}

.circle{
    background-color: #0061ff;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    border: 1px solid #e7e7e9;
}

.circle span{
    background-color: white;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle-blue{
    background-color: #0061ff;
}

.circle-white{
    background-color: white;
}

.subscription-btn span:hover{
    cursor: pointer;
}

.subscription-btn{
    margin: 60px 0 40px 0;
}

.subscription-btn > span{
    vertical-align: top;
    margin-right: 20px;
}

.subscription-professional,
.subscription-standard,
.subscription-advanced{
    width: calc((100% / 3) - 20px);
}

.subscription-professional{
    height: 994px;
}
.type{
    border: 1px solid #d0d0d3;
}

.subscription-user-quantity{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}

.subscription-standard{
    margin: 0 30px;
}

.subscription-description{
    width: 85%;
    margin: auto;
    padding: 40px 0;
}

.subscription-type-title-price strong{
    margin: 20px 0 10px 0;
    display: inline-block;
}

.subscription-type-title-price h3{
    font-size: 30px;
}

.type li{
    padding: 10px 10px 10px 20px;
}

.type li span{
    margin-left: -22px;
    margin-right: 2px;
}

.subscription-description-text-function ul{
    margin: 40px 0 30px 0;
}

.subscription-btn-freetrial{
    margin: 30px 0;
}

.subscription-btn-freetrial *{
    margin: 20px 0;
}

.subscription-btn-freetrial > a{
    color: white;
    width: 100%;
    text-align: center;
}

.subscription-btn-freetrial span a{
    color: #0262ff;
    text-decoration: underline #0262ff;
}

.subscription-btn-freetrial span:last-child{
    display: block;
    border-bottom: 1px solid #d0d0d3;
    width: 60px;
    height: 1px;
}

.subscription-pro{
    margin: 50px 0;
}

.subscription-pro li span{
    color: #0262ff
}

.personalized-subscription{
    width: 100%;
    border: 1px solid #d0d0d3;
    margin: 60px 0;
}

.titile-personalized-subscription{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}

.personalized-subscription-description{
    padding: 10px 10px 10px 20px;
    width: 75%;
    margin: 20px 0;
}

.personalized-subscription-description strong{
    display: inline-block;
    margin: 20px 0 30px 0;
}

.personalized-subscription-btn{
    width: 25%;
}

.personalized-subscription-btn a{
    width: 100%;
    text-align: center;
    margin: 30px -40px;
    color: white;
}

/* FIND PARTNER SECTION */
.dropbox-parther-image{
    width: 60%;
}

.dropbox-parther-description{
    width: 40%;
    padding: 50px 48px;
}

.dropbox-parther-image img{
    width: 100%;
}

.dropbox-parther-description p{
    margin: 20px 0 30px 0;
}

.dropbox-parther-description a{
    border: 1px solid black;
}

.dropbox-parther-description h2{
    font-size: 35px;
}

/* FEATURE SECTION */
.business-dropbox-row{
    margin: 100px 0;
}

.business-div > h2{
    font-size: 45px;
    margin-bottom: 70px;
}

.dropbox-business{
    width: calc((100% / 3) - 20px);
}

.dropbox-business img{
    width: 100%;
}

.dropbox-business-center{
    margin: 0 30px;
}

.dropbox-business span{
    text-decoration: underline;
}

.dropbox-business h2{
    margin: 10px 0 20px 0;
}

/* PARTNER SECTION */
.business-dropbox-partners-title{
    font-size: 40px;
    width: 65%;
}

.business-dropbox-partners a{
    color: #4189ff;
    text-decoration: underline;
    margin: 30px 0;
}

.business-partners-image{
    width: 30%;
    height: 500px;
}

.business-partners-center{
    width: 40%;
    background-color: #f5f5f5;
    min-height: 500px;
}

.business-partners-row{
    width: 100%;
    position: relative;
    height: 50%;
}

.box{
    width: 50%;
    height: 100%;
}

.box img{
    width: 7vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}

.designit{
    background-color: #a2d39b;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid #d0e9cd;
}

.arizona-state-university{
    background-color: #61082b;
    position: absolute;
    top: 0;
    right: 0;
}

.university-of-florida{
    background-color: #0093ce;
    position: absolute;
    bottom: 0;
    left: 0;
}

.topps{
    background-color: #ff1c1c;
    position: absolute;
    bottom: 0;
    right: 0;
}

.world-bicycle-relief{
    background-color: #d5001f;
    position: absolute;
    top: 0;
    left: 0;
}

.hearst-corp{
    background-color: #b4d0e7;
    position: absolute;
    top: 0;
    right: 0;
}

.lonely-planet{
    background-color: #0d2481;
    position: absolute;
    bottom: 0;
    left: 0;
}

.clear-channel{
    background-color: #ffd830;
    position: absolute;
    bottom: 0;
    right: 0;
}

.logo-description{
    width: 85%;
    margin: auto;
    padding: 50px 0;
}

.partner-logo img{
    width: 7vw;
}

.logo-description > span{
    display: block;
    border-bottom: 1px solid #d0d0d3;
    width: 60px;
    height: 1px;
}

.logo-description p{
    margin: 50px 0;
}

.adfreetrial{
    background-color: #b4d0e7;
}

.business-freetrial-description{
    width: 75%;
    padding: 200px 0;
}

.business-freetrial-description h2{
    font-size: 45px;
    width: 55%;
    color: #61082b;
}

.business-freetrial-btn{
    width: 25%;
    padding: 200px 0;
}

.business-freetrial-btn a{
    text-align: center;
    display: block;
}

/* SECTION5 */
.title-faq{
    margin-bottom: 60px;
    font-size: 30px;
}

.faq .faq-row:nth-child(2){
    border-top: 1px solid #dcdcde;
    border-bottom: 1px solid #dcdcde;
}

.faq-row{
    padding: 40px 0;
    border-bottom: 1px solid #dcdcde;
}

.text-faq{
    width: 90%;
}

.arrow-down{
    width: 10%;
}

/* FOTTER */
footer{
    background-color: #000000;
}

.container-type3{
    width: 80%;
    margin: auto;
    padding: 100px 0 0 0;
}

.footer-col{
    width: calc(100% / 5);
    color: white;
}

.footer-col ul{
    margin: 20px 0;
}

.footer-col ul li{
    margin: 10px 0;
}

.footer-col ul a{
    color: white;
    font-weight: 100;
}

.container-type3 > span{
    display: block;
    border-bottom: 1px solid white;
    width: 120px;
    height: 1px;
    margin: 70px 0 20px 0;
}

.language *{
    display: inline-block;
}

.language a{
    color: #999999;
    vertical-align: middle;
    margin: 40px 0;
}