/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

a{
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}

.btn-blue{
    background-color: #0061ff;
    padding: 7px 20px;
}

.btn-white{
    background-color: white;
    padding: 7px 20px;
}

.container-type2{
    width: 70%;
    margin: auto;

    /* TEST */
   
    height: 1000px;
}

ul{
    list-style-type: none;
}

/* TEST */
.h100{
    height: 100px;
}

.h400{
    height: 400px;
}

.h500{
    height: 500px;
}

.h800{
    height: 800px;
}

.h1000{
    height: 1000px;
}

/* HEADER */
header{
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.logo-function{
    width: 50%;
}

.btn-function{
    width: 50%;
    text-align: right;
}

.col a{
    color: black;
}

.logo-function *, .btn-function *{
    vertical-align: middle;
    margin: 0 20px;
}

.logo-function a:hover, .btn-function a:hover{
    border-bottom: 2px solid black;
}

.btn-function a:last-child{
    display: inline;
    color: white;
    border: none;
}

/* MAIN */
main{
    margin-top: 80px;
}

.container{
    background-color: #b4d0e7;
    height: 720px;
}

.banner{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    font-weight: 600;
}

.banner-title{
    font-size: 42px;
}

.paragraph-btn{
    width: 30%;
}

.banner-image{
    width: 60%;
    margin: 30px;
}

.paragraph-btn > *{
    margin: 30px 0;
}

.paragraph-btn > span{
    font-size: 50px;
}

.free-trial a{
    color: white;
}

.free-trial span{
    display: block;
    margin: 10px 0;
}

.banner-image img{
    width: 100%;
}

/* SECTION */
section{
    margin: 200px 0;
}

.section-title1 h2{
    font-size: 50px;
}

.circle{
    background-color: #0061ff;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.circle span{
    background-color: white;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle-blue{
    background-color: #0061ff;
}

.circle-white{
    background-color: white;
}
.subscription-btn{
    margin: 60px 0 40px 0;
}

.subscription-btn > span{
    vertical-align: top;
    margin-right: 20px;
}

.subscription-professional,
.subscription-standard,
.subscription-advanced{
    width: calc((100% / 3) - 20px);
}

.subscription-professional{
    height: 994px;
}
.type{
    border: 1px solid #d0d0d3;
}

.subscription-user-quantity{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}

.subscription-standard{
    margin: 0 30px;
}

.subscription-description{
    width: 85%;
    margin: auto;
    padding: 40px 0;
}

.subscription-type-title-price strong{
    margin: 20px 0 10px 0;
    display: inline-block;
}

.subscription-type-title-price h3{
    font-size: 30px;
}

.type li{
    padding: 10px 10px 10px 20px;
}

.type li span{
    margin-left: -22px;
    margin-right: 2px;
}

.subscription-description-text-function ul{
    margin: 40px 0 30px 0;
}

.subscription-btn-freetrial{
    margin: 30px 0;
}

.subscription-btn-freetrial *{
    margin: 20px 0;
}

.subscription-btn-freetrial > a{
    color: white;
    width: 100%;
    text-align: center;
}

.subscription-btn-freetrial span a{
    color: #0262ff;
    text-decoration: underline #0262ff;
}

.subscription-btn-freetrial span:last-child{
    display: block;
    border-bottom: 1px solid #d0d0d3;
    width: 60px;
    height: 1px;
}

.subscription-pro{
    margin: 50px 0;
}

.subscription-pro li span{
    color: #0262ff
}

.personalized-subscription{
    width: 100%;
    border: 1px solid #d0d0d3;
    margin: 60px 0;
}

.titile-personalized-subscription{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}

.personalized-subscription-description{
    padding: 10px 10px 10px 20px;
    width: 75%;
    margin: 20px 0;
}

.personalized-subscription-description strong{
    display: inline-block;
    margin: 20px 0 30px 0;
}

.personalized-subscription-btn{
    width: 25%;
}

.personalized-subscription-btn a{
    width: 100%;
    text-align: center;
    margin: 30px -40px;
    color: white;
}

/* SECTION 2 */
.dropbox-parther-image{
    width: 60%;
}

.dropbox-parther-description{
    width: 40%;
    padding: 20px 40px;
}

.dropbox-parther-image img{
    width: 100%;
}

.dropbox-parther-description a{
    border: 1px solid black;
}